<button type="button" title="Kliknite na fotografiju da je otvorite!" 
class="btn btn-primary tooltip-test" (click)="openModal('https://i.picsum.photos/id/459/200/300.jpg?hmac=4Cn5sZqOdpuzOwSTs65XA75xvN-quC4t9rfYYyoTCEI')">Large modal</button>

<div class="main-desc">
    <h2>Naziv nekretnine: {{ realEstate2.name }}</h2>

    <div class="card border-secondary mb-3" style="padding-bottom: 20px;">
        <div class="card-header">Informacije o nekretnini</div>
        <div class="card-body detail-piece" style="margin-top: 20px;"> 
            <h4>Cijena nekretnine: </h4>
            <p class="card-text card-desc"> {{ realEstate2.price }} KM</p>
        </div>
        <div class="card-body detail-piece">
            <h4 class="card-title">Adresa : </h4>
            <p class="card-text card-desc"> {{ realEstate2.address }}</p>
        </div>
        <div class="card-body detail-piece">
            <h4 class="card-title">Grad i država: </h4>
            <p class="card-text card-desc"> {{ realEstate2.city }}, {{ realEstate2.country }}</p>
        </div>
        <div class="card-body detail-piece">
            <h4 class="card-title">Opis nekretnine: </h4>
            <p class="card-text card-desc"> {{ realEstate2.description }} KM</p>
        </div>
        <div class="card-body detail-piece">
            <h4 class="card-title">Stanje nekretnine: </h4>
            <p class="card-text card-desc"> {{ realEstate2.state }}</p>
        </div>
        <div class="card-body card-photos-holder">
            <h4 class="card-title">Fotografije nekretnine: </h4>
            <div class="images-row">
                <div class="card-images">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img src="/assets/home1.jpg" alt="Random first slide" (click)="openModal('https://i.picsum.photos/id/459/200/300.jpg?hmac=4Cn5sZqOdpuzOwSTs65XA75xvN-quC4t9rfYYyoTCEI')" >
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img src="/assets/home2.jpg" alt="Random second slide">
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img src="/assets/home3.jpg" alt="Random third slide">
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>     
            </div>      
        </div>
    </div>

    <div style="display: flex; justify-content: center; padding-bottom: 20px;">
    <button type="button" class="btn btn-info">Rezerviši nekretninu</button>
    </div>
</div>

