<mat-card class="example-card" id="cart">
    <mat-card-header>
        <mat-card-title>
            Uređivanje profila
        </mat-card-title>
    </mat-card-header>
<mat-card-content>
       <br>
        Ime: <input type="text" placeholder="{{user.firstName}}"> <br>
        Prezime:  <input type="text" placeholder="{{user.lastName}}"><br>
        Email: <input type="text" placeholder="{{user.email}}"><br>
        Adresa:  <input type="text" placeholder="{{user.address}}"><br>
        Grad: <input type="text" placeholder="{{user.city}} "> <br>
        Država: <input type="text" placeholder="{{user.country}}"> <br>
        Telefon: <input type="text" placeholder="{{user.phone}}"> <br>
</mat-card-content>
<mat-card-actions>
    <div>
        <button type="button" class="btn btn-info">Potvrdi izmjene</button>
    </div>
</mat-card-actions>
</mat-card>