<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Renoviran stan Hrasno</mat-card-title>
      <mat-card-subtitle>Ul. Azize Šaćirbegović</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/home3.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Prodaje se potpuno kvalitetno adaptiran polunamješten dvosoban, potencijalno trosoban stan uknjižene površine 58m2 + dva balkona od kojih je dio jednog balkona pripojen stanu tako da se dobila veća stambena kvadratura za 4m2. Stan se sastoji od predsoblje, dnevnog boravka, spavaće sobe sa izlazom na balkon, kupatila, kuhinje sa trpezarijom koju je moguće pretvoriti u manju sobu površine cca 7-8 m2. sa izlazom na balkon. 
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>VIŠE</button>
    </mat-card-actions>
  </mat-card>
  