.add-button{
    float: right;
    margin: 0 10px;
}
.cancel-button{
    color:white;
    margin-left: 10px !important;
}
.center-text{
    display: block;
    text-align: center;
}
.example-card {
    max-width: 600px;
    margin: auto;
}
.popup-title{
    margin: auto;
}

.add-image {
    display: flex;
    flex-direction: column;
}


.bg { 
    /* The image used */
    background-image: url("/assets/image.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}
