
.addbutton{
    background-color: #43ba93; 
    color:white;
    float: right;
    margin: 0 10px;
}
.cancelbutton{
    background-color: #43ba93;
    color: white;
    margin-left: 10px !important;
}

.example-card {
    max-width: 600px;
    margin: auto;
}
.popup-title{
    margin: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
