<nav class="navbar navbar-expand-lg navbar-dark navigation-bar bg">
  <div class="container-fluid">
    <div mat-card-avatar class="logo"></div>
    <a class="navbar-brand" routerLink="/search">Rentific</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
      aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!isLoggedInProperty">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registracija" *ngIf="!isLoggedInProperty">Registracija</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/viewprofile" *ngIf="isLoggedInProperty">Profil</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-dark" (click)="logout()" *ngIf="isLoggedInProperty">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="content">
  <alert></alert>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
