.logo {
    background-image: url('../assets/logo.jpg');
    background-size: cover;
    margin-right: 10px;
 }

.content {
    margin: 0;
    padding: 0;
    margin-top: 2%;
}


.navigation-bar {
    background-color: darkslategray;
}
