<div class="search">
  <input type="text" class="form-control search-field" placeholder="Pretražite nekretnine..." #keyword>
  <button type="button" class="btn btn-success" (click)="onSearched(keyword.value)">Pretraži</button>
  <button type="button" class="btn btn-success add-new" (click)="addNewRealEstate()" *ngIf="isAdmin">Dodaj novu nekretninu</button>
</div>

<div class="container no-results" *ngIf="realEstates == null">
  <img mat-card-image class="background-photo" src="/assets/home3.jpg" alt="Photo of a Shiba Inu">
  <figure class="no-results-desc">
    <blockquote class="blockquote">
      <p class="mb-0">Na korak do savršenog doma!</p>    
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">Izvršite pretragu!</cite>
    </figcaption>
  </figure>
</div>

<div class="container card-results">
  <div class="row card-row">
    <div class="col cards" *ngFor="let item of realEstates">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>{{ item.address }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{item.imageModel[0]}} alt="Slika" class="image">
        <mat-card-content>
          <p>
            {{ item.description }}
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="goToRealEstateDetails(item)">VIŠE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<!-- <mat-paginator
              [length]=totalPages
              [pageSize]=pageSize
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator> -->

<!-- <div class="card-footer pb-0 pt-3">
  <jw-pagination [items]="realEstates" (changePage)="onChangePage($event)"></jw-pagination>
</div> -->
