<div class="row">
  <div class="col-2">
    <div class="form-group">
      <label for="exampleSelect1" class="form-label mt-4 category">Sortiraj po cijeni</label>
      <select class="form-select" id="exampleSelect1" [ngModel]="selectedPriceSort"
        (ngModelChange)="onPriceSortChanged($event)">
        <option *ngFor="let item3 of priceSortEnumKeys | keyvalue">{{ item3.value }}</option>
      </select>
    </div>
  </div>

  <div class="col-10">
    <div class="search">
      <input type="text" class="form-control search-field" placeholder="Pretražite nekretnine..." #keyword>
      <button type="button" class="btn btn-primary" (click)="onSearched(keyword.value)">Pretraži</button>
      <button type="button" class="btn btn-outline-primary add-new" (click)="addNewRealEstate()" *ngIf="isAdmin">Dodaj
        novu
        nekretninu</button>
    </div>

    <div class="container card-results">
      <div class="row card-row">
        <div class="col cards" *ngFor="let item of realEstates">
          <mat-card class="example-card mat-elevation-z8">
            <mat-card-header>
              <mat-card-title>{{ item.name }}</mat-card-title>
              <mat-card-subtitle>{{ item.address }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src={{item.imageModel[0]}} alt="Slika" class="image">
            <mat-card-content>
              <h2>{{ item.price }}KM</h2>
              <p>
                {{ item.description }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="goToRealEstateDetails(item.realEstateId)">VIŠE</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <ul class="pagination paging" *ngIf="realEstates != null">
          <li id="current-page{{page}}" class="page-item" *ngFor="let page of allPages">
            <button class="page-link" (click)="onChangePage(page)">{{ page }}</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container no-results" *ngIf="realEstates == null">
    <figure class="no-results-desc">
      <blockquote class="blockquote">
        <p class="mb-0">Na korak do savršenog doma!</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Source Title">Izvršite pretragu!</cite>
      </figcaption>
    </figure>
  </div>
</div>