.add-new{
  width: 250px;
  margin-left: 20px;
}

.background-photo {
  opacity: 0.5;
}

.cards {
  display: flex;
  margin-top: 30px;
  align-items: center;
  min-width: 33%;
  max-width: 33%;
  min-height: 40%;
  max-height: 40%;
}

.card-results {
  width: 90%;
}

.example-card {
  width: 400px;
  height: 500px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.image {
  height: 50%;
}

.no-results-desc {
  font-size: large;
  margin-top: 5%; 
  text-align: center;
  background-color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.no-results {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
  margin-top: 5%;  
}

.search {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.search-field {
  margin-right: 20px;
}

.row {
  width: 90%;
  display: flex;
  margin: auto;
}

.paging {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  padding-bottom: 5%;
}


