<div class="card-holder">
    <mat-card class="example-card mat-elevation-z8">
        <mat-card-header>
            <div class="mat-card-header-text popup-title">
                <mat-card-title>Ažurirajte detalje nekretnine</mat-card-title>
            </div>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="addingForm">
                <div class="form-group">
                    <label>Naziv nekretnine: </label>
                    <input type="text" class="form-control" [(ngModel)]="realEstate.name" formControlName="name"
                        [ngClass]="{ 'is-invalid': submitted && form.name.errors }" />
                    <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                        <div *ngIf="form.name.errors.required">Naziv nekretnine je obavezan</div>
                    </div>
                </div>
                <span layout="row">
                    <hr flex />
                    <label class="center-text">Osnovne informacije</label>
                    <hr flex />
                </span>
                <div class="form-group">
                    <label>Cijena nekretnine (KM): </label>
                    <input type="number" min="0" class="form-control" formControlName="price"
                        [(ngModel)]="realEstate.price" [ngClass]="{ 'is-invalid': submitted && form.price.errors }" />
                    <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                        <div *ngIf="form.name.errors.required">Cijena nekretnine je obavezna</div>
                    </div>
                </div>
                <div class="form-group">
                    <div ngbDropdown container="body">
                        <label>Adresa: </label>
                        <input class="form-control" ngbDropdownToggle [(ngModel)]="realEstate.address"
                            formControlName="address" [ngClass]="{ 'is-invalid': submitted && form.address.errors }" />
                        <div *ngIf="submitted && form.address.errors" class="invalid-feedback">
                            <div *ngIf="form.address.errors.required">Adresa nekretnine je obavezan</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div ngbDropdown container="body">
                        <label>Grad: </label>
                        <input class="form-control" ngbDropdownToggle [(ngModel)]="realEstate.city"
                            formControlName="city" [ngClass]="{ 'is-invalid': submitted && form.city.errors }" />
                        <div *ngIf="submitted && form.city.errors" class="invalid-feedback">
                            <div *ngIf="form.city.errors.required">Grad je obavezan</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div ngbDropdown container="body">
                        <label>Država: </label>
                        <input class="form-control" ngbDropdownToggle [(ngModel)]="realEstate.country"
                            formControlName="country" [ngClass]="{ 'is-invalid': submitted && form.country.errors }" />
                        <div *ngIf="submitted && form.country.errors" class="invalid-feedback">
                            <div *ngIf="form.country.errors.required">Država je obavezna</div>
                        </div>
                    </div>
                </div>
                <!-- Dodatne informacije -->
                <span layout="row">
                    <hr flex />
                    <label class="center-text">Dodatne informacije</label>
                    <hr flex />
                </span>
                <div class="form-group">
                    <label>Dodatni opis nekretnine: </label>
                    <textarea class="form-control" [(ngModel)]="realEstate.description"
                        [ngClass]="{ 'is-invalid': submitted && form.description.errors }"
                        formControlName="description"></textarea>
                    <div *ngIf="submitted && form.description.errors" class="invalid-feedback">
                        <div *ngIf="form.description.errors.required">Opis nekretnine je obavezan</div>
                    </div>
                </div>
                <label>Izaberite stanje nekretnine: </label>
                <div class="form-check" *ngFor="let item of enumKeys | keyvalue">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="item.key" [value]="item.key"
                            (change)="onStateChanged(item)" [checked]="realEstate.state == item.value">
                        {{item.value}}
                    </label>
                </div>
            </form>

            <div class="form-group add-image">
                <label for="formFile" class="form-label mt-4">Dodajte fotografiju:</label>
                <input class="form-control" type="file" id="formFile" (change)="onFileChanged($event)">
                <!-- <div *ngIf="submitted && form.formFile.errors" class="invalid-feedback">
                    <div *ngIf="form.formFile.errors.required">Fotografija je obavezna</div>
                </div> -->
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button type="button" class="btn btn-danger cancel-button" (click)="goToSearch()">
                Odustani
            </button>

            <button type="button" class="btn btn-success add-button" (click)="updateRealEstate()">
                Dodaj
            </button>
        </mat-card-actions>
    </mat-card>
</div>