.add-button{
    float: right;
    margin: 0 10px;
}
.cancel-button{
    color:white;
    margin-left: 10px !important;
}
.center-text{
    display: block;
    text-align: center;
}
.example-card {
    max-width: 600px;
    margin: auto;
}
.popup-title{
    margin: auto;
}

.add-image {
    display: flex;
    flex-direction: column;
}


.card-holder {
    padding-bottom: 2%;
}
