<div class="card-holder">
    <mat-card class="example-card">
        <mat-card-header>
            <div class="mat-card-header-text popup-title">
                <mat-card-title>Ažurirajte detalje nekretnine</mat-card-title>
            </div>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="addingForm" >
                <div class="form-group">
                    <label>Naziv nekretnine: </label>
                    <input type="text" class="form-control" placeholder="{{realEstate.name}}" formControlName="name" />
                </div>
                <span layout="row">
                    <hr flex />
                    <label class="center-text">Osnovne informacije</label>
                    <hr flex />
                </span>
                <div class="form-group">
                    <label>Cijena nekretnine (KM): </label>
                    <input type="number" min="0" class="form-control" formControlName="price" placeholder="{{realEstate.price}}" />
                </div>
                <div class="form-group">
                    <label>Kvadratura: </label>
                    <input type="number" min="0" class="form-control" formControlName="size" />
                </div>
                <div class="form-group">
                    <div ngbDropdown container="body">
                        <label>Adresa: </label>
                        <input class="form-control" ngbDropdownToggle placeholder="{{realEstate.address}}" formControlName="address" />
                    </div>
                </div>
                <div class="form-group">
                    <div ngbDropdown container="body">
                        <label>Grad: </label>
                        <input class="form-control" ngbDropdownToggle placeholder="{{realEstate.city}}" formControlName="city" />
                        <div class="form-group" ngbDropdownMenu>
                            <button ngbDropdownItem>Bihac</button>
                            <button ngbDropdownItem>Goradzde</button>
                            <button ngbDropdownItem>Sarajevo</button>
                            <button ngbDropdownItem>Srebrenik</button>
                            <button ngbDropdownItem>Tuzla</button>
                            <button ngbDropdownItem>Zenica</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div ngbDropdown container="body">
                        <label>Kanton: </label>
                        <input class="form-control" ngbDropdownToggle placeholder="{{realEstate.country}}" formControlName="country" />
                        <div class="form-group" ngbDropdownMenu>
                            <button ngbDropdownItem>Bosansko-podrinjski kanton</button>
                            <button ngbDropdownItem>Srednjobosanski kanton</button>
                            <button ngbDropdownItem>Hercegovačko-neretvanski kanton</button>
                            <button ngbDropdownItem>Kanton Sarajevo</button>
                            <button ngbDropdownItem>Posavski kanton</button>
                            <button ngbDropdownItem>Tuzlanski kanton</button>
                            <button ngbDropdownItem>Unsko-sanski kanton</button>
                            <button ngbDropdownItem>Zapadnohercegovački kanton</button>
                            <button ngbDropdownItem>Zeničko-dobojski kanton</button>
                        </div>
                    </div>
                </div>
                <!-- Dodatne informacije -->
                <span layout="row">
                    <hr flex />
                    <label class="center-text">Dodatne informacije</label>
                    <hr flex />
                </span>
                <div class="form-group">
                    <label>Broj soba: </label>
                    <input type="number" min="1" class="form-control" formControlName="rooms" />
                </div>
                <div class="form-group">
                    <label>Dodatni opis nekretnine: </label>
                    <textarea class="form-control" placeholder="{{realEstate.description}}"
                        formControlName="description"></textarea>
                </div>
            </form>

            <div class="add-image">
                <label>Dodajte fotografiju</label>
                <input type="file" (change)="onFileChanged($event)"> 
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button type="button" class="btn btn-danger cancel-button" (click)="goToSearch()">
                Odustani
            </button>

            <button type="button" class="btn btn-success add-button" (click)="updateRealEstate()">
                Dodaj
            </button>
        </mat-card-actions>
    </mat-card>
</div>