<ngb-carousel class="carousel">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/home1.jpg" alt="Random first slide">
      </div>
      <!-- <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div> -->
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/home2.jpg" alt="Random second slide">
      </div>
      <!-- <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div> -->
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/assets/home3.jpg" alt="Random third slide">
      </div>
      <!-- <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div> -->
    </ng-template>
  </ngb-carousel>

  <figure class="text-center">
    <blockquote class="blockquote">
      <p class="mb-0">
        Potražnja idealnog stana/kuće/vikendice nikad nije bila lakša!
      </p>    
    </blockquote>    
  </figure>

