<div class="home">
  <div class="images-row">
    <div class="images">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="/assets/home1.jpg" alt="Random first slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="/assets/home2.jpg" alt="Random second slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="/assets/home3.jpg" alt="Random third slide">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <figure class="text-center">
    <blockquote class="blockquote">
      <p class="mb-0">
        Potražnja idealnog stana/kuće/vikendice nikad nije bila lakša!
      </p>
    </blockquote>
  </figure>
</div>