@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.carousel {
  text-align: center;
}

.picsum-img-wrapper {
  height: auto;
  width: auto;
}

.blockquote {
  margin-top: 20px;
}

.images {
  width: min-content;
  text-align: center;
}

.images-row {
  display: flex;
  justify-content: center;
}